<div class="two-line row-header fade-out">
  <div class="row-name row-color">
    <h3>{{#link-to "owner" repo.owner}}
      {{status-icon status=repo.lastBuildState}}
      <span class="label-align">{{repo.owner}}</span>{{/link-to}}
    </h3>
    <h2>{{#link-to "repo" repo.owner repo.name}}
      <span class="label-align">{{repo.name}}</span>
      {{/link-to}}
    </h2>
  </div>
</div>

<div class="two-line">
  <div class="row-number">
    <div class="row-item">
      {{#link-to "build" repo repo.lastBuildId}}
      <span class="icon-hash"></span>
      <span class="label-align">
        {{repo.lastBuildNumber}} {{repo.lastBuildState}}</span>
      {{/link-to}}
    </div>
  </div>

  <div class="row-calendar">
    <div class="row-item" title="{{repo.lastBuildFinishedAt}}">
      <span class="icon-calendar"> </span>
      <time class="label-align" datetime="{{repo.lastBuildFinishedAt}}">
        {{landing-page-last-build-time repo.lastBuildFinishedAt}}</time>
    </div>
  </div>
</div>

<div class="two-line">
  <div class="row-commit">
    <div class="row-item">
      <span class="icon-github"></span>
      <span class="label-align">
        {{format-sha repo.lastBuild.commit.sha}}</span>
    </div>
  </div>
  <div class="row-commiter">
    <div class="row-item color">
      {{request-icon event=repo.lastBuild.eventType}}
      <span class="label-align">{{repo.lastBuild.commit.branch}}</span>
    </div>
  </div>
</div>
